@import 'styles/variables';

.aside {
  border-right: 1px solid;
}

.container {
  height: 100%;
  max-height: 100vh;
  position: sticky;
  width: 300px;
  top: 0;
  padding-top: $PaddingTopMain;
}

.container ul{
  list-style: none;
}